  .tamanoModal{

       width:130%;
      /* height: 70%;*/

     }
  .tamanoModal-perfil{
      width:90%;
    }

  .switche{
    background: #8a8fa1;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}